<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<title>Tarea 14</title>
</head>
<body>
    <section class="actividad" ng-app="MyApp" ng-controller="formControl">
        <form novalidate>
           <h2 class="titulo">Actividad asincrónica N° 14</h2>
            <p>Ingresa tus datos para calcular sueldo bruto, descuento y salario neto.</p>
            <p>
                <label>Codigo de Empleado</label>
                <input type="number" ng-model="empleado.codigo">
            </p>
            <p>
                <label>Horas Trabajadas</label>
                <input type="number" ng-model="empleado.horas">
            </p>
            <p>
                <label>Tarifa por Hora</label>
                <input type="number" ng-model="empleado.tarifa">
            </p>
            <input class="boton" type="button" ng-click="calcularSalario()" value="Calcular">
        </form>
        <section class="result">
            <p>Sueldo Bruto: {{empleado.sueldoBruto}}</p>
            <p>Descuento: {{empleado.descuento}}</p>
            <p>Sueldo Neto: {{empleado.sueldoNeto}}</p>
        </section>
    </section>
</body>
</html>
<script src="tarea14.js"></script>